
" list of supported commands: https://github.com/JetBrains/ideavim/wiki/set-commands

" source ~/.vimrc

nnoremap H ^
nnoremap L $

set clipboard+=unnamedplus

" ideavim plugin emulators
set surround
set commentary
set argtextobj

" ideavim integrations
set ideajoin " see https://github.com/JetBrains/ideavim/wiki/%60ideajoin%60-examples
set scrolloff=10 " minimum number of lines above and below the cursor


" todo: test rebind of ctrl-i, ctrl-o to intellij Back and Forward (?)

" nnoremap <C-o> :action Back<CR>



